<nav id="header" class="bg-white fixed w-full z-10 top-0 pb-5 shadow">


    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3  pb-3 ">

        <div class="w-1/2 pl-2 md:pl-0">
            <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                <i class="fas fa-sun text-orange-600 pr-3"></i> Banassa
            </a>
        </div>
        <div class="w-1/2 pr-0">
            <div class="flex relative inline-block float-right">

                <div class="relative text-sm">
                    <button id="userButton" class="flex items-center focus:outline-none mr-3">
                        <img 
                        src="https://covid.hespress.com/assets/images/covid19_maroc_logo.png" >
                        
                        
                    </button>
                    <div id="userMenu"
                        class="bg-white rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                        <ul class="list-reset">
                            <li><a href="#"
                                    class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">My
                                    account</a></li>
                            <li><a href="#"
                                    class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Notifications</a>
                            </li>
                            <li>
                                <hr class="border-t mx-2 border-gray-400">
                            </li>
                            <li><a href="#"
                                    class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline hover:no-underline">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>


               
            </div>

        </div>



    </div>
</nav>

<!--Container-->
<div class="container w-full mx-auto pt-20">

    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

        <!--Console Content-->

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600">
                                 <i class="fas fa-bed fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">حالات تتلقى العلاج</h5>
                            <h3 class="font-bold text-3xl">{{totalActiveCases}} 
                               
                             </h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-orange-600">
                                <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">الحالات المستبعدة</h5>
                            <h3 class="font-bold text-3xl">249 </h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-yellow-600"><i
                                    class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">الحالات المؤكدة</h5>
                            <h3 class="font-bold text-3xl">{{totalCases}} </h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-green-600">
                             <i class="fas fa-smile fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">المتعافون</h5>
                           
                            <h3 class="font-bold text-3xl">{{totalRecovred}}
                              
                            
                            </h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-white border rounded shadow p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded p-3 bg-red-600">
                                <i class="fas fa-skull fa-2x fa-fw fa-inverse"></i>
                            </div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-500">الوفيات</h5>
                            <h3 class="font-bold text-3xl">{{totalDeaths}}</h3>
                            
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-400 my-8 mx-4">

        <div class="flex flex-row flex-wrap flex-grow mt-2">

            <div class="w-full md:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow 	">
                    <div class="border-b p-3 " style="text-align:end">
                        <h5 class="font-bold uppercase text-gray-600 ">مبيان تطور فيروس كورونا في المغرب</h5>
                    </div>
                    <div class="p-5">
                        <div *ngIf="chart">
                            <canvas id="canvas">{{ chart }}</canvas>
                        </div>


                    </div>
                </div>
                <!--/Graph Card-->
            </div>

            <div class="w-full md:w-1/2 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Graph</h5>
                    </div>
                    <div class="p-5">
                    <div id="chart">   
                       <!--  <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'Web Site Traffic Analysis'"
                            [description]="'Daily unique visitors (stacked)'" [showLegend]="true" [enableAnimations]="true" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="dataAdapter" [xAxis]="xAxis" [valueAxis]="valueAxis"
                            [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
                        </jqxChart> -->
                    </div>

                    </div>
                </div>
                <!--/Graph Card-->
            </div>

            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Graph</h5>
                    </div>
                    <div class="p-5">
                        <div id="chart">   
                           <!--  <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'Web Site Traffic Analysis'"
                                [description]="'Daily unique visitors (stacked)'" [showLegend]="true" [enableAnimations]="true" [padding]="padding"
                                [titlePadding]="titlePadding" [source]="dataAdapter" [xAxis]="xAxis" [valueAxis]="valueAxis"
                                [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
                            </jqxChart> -->
                        </div>

                    </div>
                </div>
                <!--/Graph Card-->
            </div>

            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Graph Card-->
                <div class="bg-white border rounded shadow">
                    <div class="border-b p-3">
                        <h5 class="font-bold uppercase text-gray-600">Graph</h5>
                    </div>
                        <div id="chart">  
                           <!--  <jqxChart #myChart [width]="getWidth()" [height]="500" [title]="'Web Site Traffic Analysis'"
                                [description]="'Daily unique visitors (stacked)'" [showLegend]="true" [enableAnimations]="true" [padding]="padding"
                                [titlePadding]="titlePadding" [source]="dataAdapter" [xAxis]="xAxis" [valueAxis]="valueAxis"
                                [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
                            </jqxChart>  -->
                        </div>

                    </div>
                </div>
                <!--/Graph Card-->
        </div>

        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Template Card-->
            <div class="bg-white border rounded shadow">
                <div class="border-b p-3">
                    <h5 class="font-bold uppercase text-gray-600">Template</h5>
                </div>
                <div class="p-5">

                </div>
            </div>
            <!--/Template Card-->
        </div>

        <div class="w-full p-3">
            <!--Table Card-->
            <div class="bg-white border rounded shadow">
                <div class="border-b p-3">
                    <h5 class="font-bold uppercase text-gray-600">Table</h5>
                </div>
                <div class="p-5">
                    <table class="w-full p-5 text-gray-700">
                        <thead>
                            <tr>
                                <th class="text-left text-blue-900">Name</th>
                                <th class="text-left text-blue-900">Side</th>
                                <th class="text-left text-blue-900">Role</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Obi Wan Kenobi</td>
                                <td>Light</td>
                                <td>Jedi</td>
                            </tr>
                            <tr>
                                <td>Greedo</td>
                                <td>South</td>
                                <td>Scumbag</td>
                            </tr>
                            <tr>
                                <td>Darth Vader</td>
                                <td>Dark</td>
                                <td>Sith</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="py-2"><a href="#">See More issues...</a></p>

                </div>
            </div>
            <!--/table Card-->
        </div>


    </div>

        <!--/ Console Content-->

</div>

<!--/container-->

<footer class="bg-white border-t border-gray-400 shadow">
    <div class="container max-w-md mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="font-bold font-bold text-gray-900">About</h3>
                    <p class="py-4 text-gray-600 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus
                        commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                    </p>
                </div>
            </div>

            <div class="flex w-full md:w-1/2">
                <div class="px-8">
                    <h3 class="font-bold font-bold text-gray-900">Social</h3>
                    <ul class="list-reset items-center text-sm pt-3">
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                href="#">Add social link</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                href="#">Add social link</a>
                        </li>
                        <li>
                            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                href="#">Add social link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</footer>